/** global **/
body {
	margin:0px auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background:#e0e0e0;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:black;
	background-color:#dbdbdb;
}

code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:1.9em;
	margin-bottom:20px;
}
a {
	color:#2570ad;
}
a:hover {
	color:#80B7D5;
}
a:focus {
	outline:none;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	font-size:13px;
	padding-right:10px;
	color:#222;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
fieldset form input.formbutton {
	margin-left:150px;
	background:#4babde;
	border:none;
	border-bottom:3px solid #1A668E;
	color:#ffffff;
	font-weight:bold;
	padding:5px 10px;
	font-size:13px;
}
input[type='submit'] {
    text-align: center;
    font-size: 18px;
    height: 36px;
    width:300px;
    
}
h1 {
	font-size:45px;
}
h2 {
	color:#2f2f2f;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	font-weight:bold;
	letter-spacing:-2px;
	padding:0 0 5px;
	margin:0;
}
h3 {
	color:#333333;
	font-size:20px;
	padding-bottom:10px;
}
h4 {
	padding-bottom:10px;
	font-size:15px;
	color:#333333;
}
h5 {
	padding-bottom:10px;
	font-size:13px;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	width:1132px;
	margin:0px auto;
	padding:0;
	border-bottom:1px;
}


/** sitename **/
div#sitename {
	width:100%;
	height:50px;
}
div#sitename h1 {
	color:#1e4a60;
	font-size:40px;
	font-weight:bold;
	letter-spacing:-2px;
	margin:0;
	padding:0 0 0px;
}
div#sitename h1 a,
div#sitename h1 a:hover {
	color:#286582;
	text-decoration:none;
}
div#sitename a:link,
div#sitename a:visited{
 text-decoration:none;  /*超链接无下划线*/
}

/** nav **/
div#nav {
	background:#1b6a96;
	height:42px;
}
div#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	border-right:1px solid #1d6f96;
}
div#nav ul li {
	float:left;
	padding-bottom:0;
	display:block;
}
div#nav ul li a,
div#nav ul li a:visited,
div#nav ul li a:active,
div#nav ul li a:link {
	color:#fff;
	display:block;
	float:left;
	text-decoration:none;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	cursor:pointer;
}
div#nav ul li.current a {
	background:transparent;
}
div#nav ul li.current a span,
div#nav ul li.current a:visited span,
div#nav ul li.current a:hover span,
div#nav ul li.current a:active span,
div#nav ul li.current a:link span {
	background:transparent;
	border:none;
	padding:18px 15px 12px;
}
div#nav ul li.current a {
	margin-top:-6px;
}
div#nav ul li a span {
	padding:12px 15px 12px;
	border-right:1px solid #3785ae;
	border-left:1px solid #3785ae;
	display:block;
	float:left;
	background:transparent none;
}
div#nav ul li a:hover span {
	background:transparent;
} 


/** header **/
div#header {
	padding:40px 20px;
	margin:0 auto;
	background:#82c4e8;
}
div#header h2 {
	color:#ffffff;
	padding-bottom:0;
	font-weight:normal;
	letter-spacing:0;
}
div#header div.tagline {
	color:#fff;
	font-size:14px;
	padding-bottom:10px;
}
div#header div.tagline a {
	color:#ffffff;
}


/** body **/
div#body {
	padding:3px 3px;
	background:#fff;
}


/** content+sidebar styles **/
div#content {
	width:870px;
}
div.column-left {
	float:left;
	margin-right:10px;
}
div.column-right {
	float:right;
}
div#sidebar {
	width:190px;
}
div#sidebar ul {
	margin:0;
	padding:0;
	list-style:none;
}
div#sidebar li ul {
	border-top:1px solid #ddd;
	margin-bottom:20px;
}
div#sidebar li ul li {
	display:block;
	padding:7px 15px;
	border-bottom:1px solid #ddd;
	color:#777;
}
div#sidebar li ul li a {
	color:#4babde;
	text-decoration:none;
	font-family:"Trebuchet MS", Verdana, Arial;
	font-weight:bold;
}
div#sidebar li ul li a:hover {
	color:#1F75A3;
	text-decoration:underline;
}
div#sidebar h4 { 
	color:#0B2735;
	font-family:arial;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}


/** footer **/
div#footer {
	background:#4babde;
	padding:20px 20px;
	color:#fff;
	border-bottom:1px solid #2694CF;
}
div#footer p {
	color:#fff;
	margin:0;
	font-size:11px;
	width:50%;
}
div#footer p.left { float:left; }
div#footer p.right { float:right; text-align:right; }
div#footer p a {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #fff;
}
div#footer p a:hover {
	background-color:#1A668E;
}
.labelRightAlign
{
    background-color: #ededed;
    text-align: right;
    width: 150px;
}
.tablewithoutline
{
    width: 100%;
    border-collapse: collapse;
    border: none #0066CC;
    line-height: 20px;
}

    .tablewithoutline tr td
    {
        border-top: 0px #cccccc solid;
        border-left: 0px #cccccc solid;
        border-right: 0px #cccccc solid;
        border-bottom: 0px #cccccc solid;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
    }

/** clear fix **/
.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	display: inline-block;
}
.clear {
	display: block;
}
    .tablewithoutline tr td
    {
        border-top: 0px #cccccc solid;
        border-left: 0px #cccccc solid;
        border-right: 0px #cccccc solid;
        border-bottom: 0px #cccccc solid;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
    }
